Source: fcitx-configtool
Section: utils
Priority: optional
Maintainer: Debian Input Method Team <debian-input-method@lists.debian.org>
Uploaders:
 Aron Xu <aron@debian.org>,
 YunQiang Su <syq@debian.org>,
Build-Depends:
 cmake (>= 3.1),
 debhelper (>= 11),
 fcitx,
 fcitx-libs-dev (>= 1:4.2.8),
 iso-codes,
 libdbus-glib-1-dev,
 libgtk-3-dev (>= 3.20),
 libgtk2.0-dev (>= 2.22),
 libunique-dev,
 pkg-config,
Standards-Version: 4.1.5
Homepage: https://gitlab.com/fcitx/fcitx-configtool
Vcs-Git: https://salsa.debian.org/input-method-team/fcitx-configtool.git
Vcs-Browser: https://salsa.debian.org/input-method-team/fcitx-configtool

Package: fcitx-config-common
Architecture: all
Multi-Arch: foreign
Depends:
 adwaita-icon-theme | gnome-icon-theme-symbolic,
 ${misc:Depends},
Description: graphic Fcitx configuration tool - common files
 Fcitx is the Free Chinese Input Toy of X, which was initially designed
 for Chinese users, and used XIM protocol. Now it has already evolved
 into a highly modularized, feature rich input method framework for
 Unix-like platforms supporting a considerable amount of frontends,
 backends and modules.
 .
 It is an ideal choice for the vast majority. Many of its features make
 users of Unix-like platforms have a fully modern input experience for
 the first time. It has also greatly lower the threshold for developers,
 making the development of extended functions much easier than ever before.
 .
 This package provides common files for the graphic configuration tool.

Package: fcitx-config-gtk
Architecture: any
Depends:
 fcitx-config-common (= ${source:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: graphic Fcitx configuration tool - Gtk+ 3 version
 Fcitx is the Free Chinese Input Toy of X, which was initially designed
 for Chinese users, and used XIM protocol. Now it has already evolved
 into a highly modularized, feature rich input method framework for
 Unix-like platforms supporting a considerable amount of frontends,
 backends and modules.
 .
 It is an ideal choice for the vast majority. Many of its features make
 users of Unix-like platforms have a fully modern input experience for
 the first time. It has also greatly lower the threshold for developers,
 making the development of extended functions much easier than ever before.
 .
 This package provides GTK+ 3 version of the graphic configuration tool.

Package: fcitx-config-gtk2
Architecture: any
Depends:
 fcitx-config-common (= ${source:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
 fcitx-frontend-all,
 fcitx-frontend-gtk2,
 fcitx-frontend-gtk3,
 fcitx-frontend-qt4,
 fcitx-module-dbus,
 fcitx-module-kimpanel,
 fcitx-module-lua,
 fcitx-module-x11,
 fcitx-table,
 fcitx-table-all,
 fcitx-tools,
 gir1.2-fcitx-1.0,
 libfcitx-config4,
 libfcitx-core0, 
 libfcitx-gclient1,
 libfcitx-qt0,
 libfcitx-utils0,
Description: graphic Fcitx configuration tool - Gtk+ 2 version
 Fcitx is the Free Chinese Input Toy of X, which was initially designed
 for Chinese users, and used XIM protocol. Now it has already evolved
 into a highly modularized, feature rich input method framework for
 Unix-like platforms supporting a considerable amount of frontends,
 backends and modules.
 .
 It is an ideal choice for the vast majority. Many of its features make
 users of Unix-like platforms have a fully modern input experience for
 the first time. It has also greatly lower the threshold for developers,
 making the development of extended functions much easier than ever before.
 .
 This package provides GTK+ 2 version of the graphic configuration tool.
