[Desktop Entry]
Name=输入法配置
Comment=Fcitx GUI Config Tool
Exec=fcitx-config-gtk3
Icon=fcitx
Type=Application
Categories=Settings;
X-KDE-StartupNotify=false
StartupNotify=false
